streamlit==0.66.0
matplotlib==3.2.2
lxml==4.5.2
Unidecode==1.1.1
stop_words==2018.7.23
pandas==1.0.5
wordcloud==1.8.0
tensorflow_cpu==2.3.1
nltk==3.5
transformers==3.3.0
requests==2.24.0
mysql_connector_repackaged
tensorflow==2.3.1
cssselect==1.1.0
numpy==1.18.5