requests==2.24.0
streamlit==0.66.0
wordcloud==1.8.0
matplotlib==3.2.2
tensorflow==2.0.0
transformers==3.3.0
Unidecode==1.1.1
lxml==4.5.2
pandas==1.0.5
langdetect==1.0.8
nltk==3.5
stop_words==2018.7.23
google_api_python_client==1.12.3
mysql_connector_repackaged==0.3.1
scikit_learn==0.23.2
cssselect==1.1.0
